<footer>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <% for (var a = 0;a< arr.length;a++) { %>
            <li><a href="/passageList/<%= arr[a].classId %>" title="<%= arr[a].className %>"><%= arr[a].className %></a></li>
            <% } %>
            <li class="active"><a href="/home">个人中心</a></li>
            <li class="active"><a href="/about">关于E-blog</a></li>
        </ol>
        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>本项目源码受 <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> 开源协议保护。</p>
    </div>
</footer>
<script>
    function search() {
        var search = $("#search").val();
        location.href = '/search/'+search;
    }
</script>
</body>
</html>
</html>